body {
    background-color:black;
}
  
h1 {
    color:deeppink;
    text-align: center;

}
#Size{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: deeppink;
    font-size: 30px;
}
#Speed{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: deeppink;
    font-size: 30px;
}
nav{
    display:flex;
    background-color:lavender;
}
.new{
    width:45%;
}
.button{
  border-radius: 15px;
  border-style: 2px dotted;
  background-color:black;
  color:white;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 150px;
  margin: 5px;
  cursor: pointer;
  text-shadow:  0 0 10px hsl(310, 85%, 51%),
                 0 0 20px hsl(310, 85%, 51%),
                 0 0 40px hsl(310, 85%, 51%),
                 0 0 80px hsl(310, 85%, 51%);
}
.button:hover{
    color:deeppink;
}
.flex-container{
    margin-top: 0px;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}
.flex-item{
    background:white;
    border: 2px solid deeppink;
    width: 15px;
}